/* techstack.css */
.tech-stack-container {
  max-width: 100%;
  


}


/* Optional: Adjust spacing and layout as needed */
.tech-stack-container .p-10,
.tech-stack-container .p-20 {
  padding: 10px;
    gap: 16px;
}

/* Additional styles as needed */
