.card {
  /* Adjust width as needed */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 255, 255, 0); /* Card background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgb(0, 0, 0); /* Box shadow for uplift effect */
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
gap: 1rem;
padding: 1rem;
}

.card:hover {
  transform: translateY(-10px); /* Move the card up slightly on hover */
}
.card {
  width: 100%; /* Base width */
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr; /* Single column on mobile */
  }
}

.card-title {
  font-weight: bold; /* Title styling */
}

.card-description {
  font-size: 0.8rem; /* Description styling */
}

.card-icons {
  display: flex; /* Flexible container for icons */
  justify-content: space-around; /* Distribute icons evenly */
}

.card-icon {
  width: 2rem; /* Icon size */
  height: 2rem;
  object-fit: contain; /* Resize icons proportionally */
}