.vertical-timeline-element-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(78, 86, 141);
}

.vertical-timeline-element-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.vertical-timeline-element p {
  font-size: 1rem;
  color: rgb(145, 156, 161);
}
h4 {
  color: rgb(74, 80, 85);
}
/* timeline.css */

@media (max-width: 768px) {
  /* Adjust max-width as needed */
  .vertical-timeline-element-content {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .vertical-timeline-element-subtitle {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  /* Add more styles as needed */
}
